<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.handschoolapplication">

    <!-- Required -->
    <permission
        android:name="com.example.handschoolapplication.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.example.handschoolapplication.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 分享的权限 -->
    <!-- 添加必要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 短信验证登陆功能需要添加次权限来自动填充验证码，用不到可以去掉 -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_SMS" /> -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c8c35a2921fcbda76dd9052b14f23c17" /> <!-- 高德地图的Key -->

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.RegisterToActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.ForgetPwdActivity" />
        <activity android:name=".activity.RegisterPersonActivity" />
        <activity android:name=".activity.AddDataActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="7inDRRtmZMlPOFCYMvinAXz5mcMhnwal" />

        <activity
            android:name=".activity.IdentityCardActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.ArtActivity" />
        <activity android:name=".activity.AllCourseActivity" />
        <activity
            android:name=".activity.SearchActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".activity.EducationActivity" />
        <activity android:name=".activity.EducationDetailActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.GradeComActivity" />
        <activity android:name=".activity.LearnHelpActivity" />
        <activity android:name=".activity.ActivityActivity" />
        <activity android:name=".activity.ChildEduActivity" />
        <activity android:name=".activity.HomeEduActivity" />
        <activity android:name=".activity.TrusteeshipActivity" />
        <activity android:name=".activity.LocationSelectActivity" />
        <activity android:name=".activity.CourseActivity" />
        <activity android:name=".activity.ClassActivity" />
        <activity android:name=".activity.MyBroswerActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.MyInformationActivity" />
        <activity android:name=".activity.SchoolInformationActivity" />
        <activity android:name=".activity.SelectSexActivity" />
        <activity android:name=".activity.SetUserNameActivity" />
        <activity android:name=".activity.SetIdCodeActivity" />
        <activity android:name=".activity.SetNameActivity" />
        <activity android:name=".activity.CurrentCityActivity" />
        <activity android:name=".activity.MyLoveActivity" />
        <activity android:name=".activity.LearningActivity" />
        <activity android:name=".activity.MyOrderActivity" />
        <activity android:name=".activity.LearnNewsActivity" />
        <activity android:name=".activity.NotificationNewsActivity" />
        <activity android:name=".activity.InteractionNewsActivity" />
        <activity android:name=".activity.MyDiscountcouponActivity" />
        <activity android:name=".activity.GradeActivity" />
        <activity android:name=".activity.MyAccountActivity" />
        <activity android:name=".activity.CashActivity" />
        <activity android:name=".activity.CashWayActivity" />
        <activity android:name=".activity.IncomeRecordActivity" />
        <activity android:name=".activity.DealDetailActivity" />
        <activity android:name=".activity.ApplyActivity" />
        <activity android:name=".activity.TimeChooseActivity" />
        <activity android:name=".activity.DealManagerActivity" />
        <activity android:name=".activity.DaifukuangActivity" />
        <activity android:name=".activity.RefundManagerActivity" />
        <activity android:name=".activity.RefundDetailActivity" />
        <activity android:name=".activity.OrderDetailActivity" />
        <activity android:name=".activity.HelpActivity" />
        <activity android:name=".activity.ImagePagerActivity" />
        <activity
            android:name=".activity.HumanServiceActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.ChangePhoneActivity" />
        <activity android:name=".activity.ModifyPwdActivity" />
        <activity android:name=".activity.QuestionAnswerActivity" />
        <activity android:name=".activity.PublishEvaluateActivity" />
        <activity android:name=".activity.CourseHomePagerActivity" />
        <activity android:name=".activity.CourseDetailActivity" />
        <activity android:name=".activity.PJDetailActivity" />
        <activity
            android:name=".activity.NowApplyActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.MeCommentActivity" />
        <activity android:name=".activity.PublishCommentActivity" />
        <activity android:name=".activity.CommentManagerActivity" />
        <activity android:name=".activity.ClassTypeActivity" />
        <activity android:name=".activity.ClassTypeAddDetailActivity" />
        <activity android:name=".activity.SchoolAddressActivity" />
        <activity android:name=".activity.AddAddressActivity" />
        <activity
            android:name=".activity.ApplyDetailActivity"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden" />
        <activity android:name=".activity.ConsultNewsActivity" />
        <activity android:name=".activity.MyEvaluateActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.ForgetPwdToActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AdvertisementActivity" />
        <activity android:name=".activity.ClassTypeAddActivity" />
        <activity android:name=".activity.register_dingwei" />
        <activity android:name=".activity.ClassTypeFirstActivity" >

        </activity>
        <activity android:name=".activity.ClassTypeFirstAddActivity" />

        <!-- ShareSDK的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- ShareSDK3.1.0版本之前才需要在MobUIShell下面注册此意图，3.1.0版本之后（包含3.1.0）不需要注册此intent -->
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="215f693b2f342" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="c1ada334decd9aea57dd6402c38dc91f" />

        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100371282" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--android:screenOrientation="portrait"-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"></activity>
        <activity android:name=".activity.ReturnMoneyActivity" />
        <activity android:name=".activity.MyDiscountActivity" />
        <activity android:name=".activity.SearchResultActivity" />
        <activity
            android:name=".activity.BaiduMapActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask" />
        <activity android:name=".activity.SignActivity" />
        <activity
            android:name=".activity.QualificationActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.QRCodeActivity" />
        <activity android:name=".activity.ScanQRCodeActivity" />
        <activity
            android:name=".activity.CurrentCitysActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:name=".activity.LearnNewsDetailActivity" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".activity.ApplyDetailPayActivity" />
        <activity android:name=".activity.SetStudentNameActivity" />
        <activity android:name=".activity.ApplyDetailsActivity" />
        <activity android:name=".activity.LeadActivity" />
        <activity android:name=".activity.AdvertisingActivity" />
        <activity android:name=".activity.ImageLookActivity" />
        <activity android:name=".activity.AttentionMeActivity" />

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.example.handschoolapplication.DataProvider"
            android:exported="true" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.example.handschoolapplication" />
            </intent-filter>
        </service>

        <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.example.handschoolapplication.DownloadProvider"
            android:exported="true" />

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.example.handschoolapplication" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.MyNewsNumReceiver">
            <intent-filter>
                <action android:name="BROADCAST_ACTION" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.handschoolapplication" />
            </intent-filter>
        </activity>
        <!-- SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.handschoolapplication" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- Required since 3.0.7 -->
        <!-- 新的tag/alias接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 该广播需要继承JPush提供的JPushMessageReceiver类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.example.handschoolapplication" />
            </intent-filter>
        </receiver>

        <!-- User defined. 用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.MyJPushReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.example.handschoolapplication" />
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。 -->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="f134ffd6ac7b6b1a9dbe51d0" />

        <activity android:name=".activity.CourseAddressActivity" />
        <activity android:name=".activity.NoWebServiceActivity" />
        <activity android:name=".activity.LocationActivity" />
        <activity
            android:name=".activity.GaodeLocationActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.ScanResultActivity" />
        <!-- <activity android:name=".activity.location.LocationActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".activity.AddClassSchoolActivity" />
        <activity android:name=".activity.NearLittleSchoolActivity" />
        <activity android:name=".activity.AgreementActivity" />
        <activity android:name=".activity.AgreementWebActivity" />
        <activity android:name=".activity.HumanServiceSActivity" />
        <activity android:name=".activity.ScanQRCodeResultActivity" />
        <activity android:name=".activity.WebGradeActivity" />
        <activity android:name=".activity.AgreementWebSActivity" />
        <activity android:name=".activity.SchoolNewsActivity"></activity>
    </application>

</manifest>